.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #161616;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #161616;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  font-weight: lighter;
  color: #41FF00;
}

.App-nav {
  background-color: #161616;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #41FF00;
}

.App-button {
  margin-inline: 3vh;
  min-height: 5vh;
  padding-inline: 2vh;
  border-radius: 2vh;
  font-size: calc(5px + 2vmin);
  color: #41FF00;
  background-color: #161616;
  border-color: #41FF00;
}

.App-button:hover{
  
  color: #161616;
  background-color: #41FF00;
  border-color: #161616;
}

.nav_link--active{
  color: #161616;
  background-color: #41FF00;
  border-color: #161616;
  text-decoration: none;
}

.nav_link{
  color:inherit;
  text-decoration: none;
}

.nav_link:hover{
  color: inherit;
}

.App-link {
  color: #61dafb;
}

.App-footer{
  background-color: #161616;
  margin-top: auto;
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #41FF00;
}

.Footer-Img{
  color:#41FF00;
  height: 5vmin;
  margin-inline: 2vmin;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
