.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h4{
  margin: 2.5vh;
}


.App-header {
  background-color: #735646;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  font-weight: lighter;
  color: #BFBEAA;
}

.App-nav {
  background-color: #735646;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  font-size: calc(10px + 1vmin);
  color: #BFBEAA;
}

.App-button {
  margin-inline: 2vh;
  min-height: 2vh;
  padding: 1vh;
  border-radius: 0.1vh;
  border-width: 0.1vh;
  border-style: none;
  font-size: calc(10px + 1vmin);
  color: #BFBEAA;
  background-color: #735646;
  border-color: #BFBEAA;
}

.App-button:hover{
  
  color: #735646;
  background-color: #BFBEAA;
  border-color: #735646;
}

.nav_link--active{
  color: #161616;
  background-color: #F2F2F0;
  border-color: #161616;
  text-decoration: none;
}

.nav_link{
  color:inherit;
  text-decoration: none;
}

.nav_link:hover{
  color: inherit;
}

.App-link {
  color: #61dafb;
}

.App-footer{
  background-color: #0D0D0D;
  margin-top: auto;
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F2F2F0;
}

.Footer-content{
  align-content: center;
}

.Footer-content p{
  font-size: xx-small;
  color:#BFBEAA;
}

.Footer-Img{
  color:#F2F2F0;
  height: 5vmin;
  margin-inline: 2vmin;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color:#BFBEAA;
}

.fa:hover {
  opacity: 0.7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*----------------*/

.App-nav .NavigationMenu{
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.5rem;
}

.App-nav .NavigationMenu span{
  height: 0.2rem;
  width: 100%;
  background-color: #BFBEAA;
  border-radius: 0.5rem;
}

.App-nav .App-button .open{
  display: block;
}

/*------------------*/

@media only screen and (max-width: 480px) {
  .App-nav{
    display: block;
  }

  .App-nav .NavigationMenu {
    display: flex;
  }

  .App-nav {
      flex-direction: column;
      align-items: flex-start;
  }

  .App-nav .App-buttons {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  .App-nav .App-buttons#open {
      display: flex;
  }

  .App-nav .App-buttons .App-button {
      width: 100%;
      text-align: center;
  }

  .App-nav .App-buttons .App-button a {
      margin: 0.2rem 0.5rem;
  }
  
}